<p style="color: green"><%= notice %></p>

<%= render @productcd %>

<div>
  <%= link_to "Edit this productcd", edit_productcd_path(@productcd) %> |
  <%= link_to "Back to productcds", productcds_path %>

  <%= button_to "Destroy this productcd", @productcd, method: :delete %>
</div>
