<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="notification is-warning">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <br>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="box">
  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input", placeholder: "Name"%>
  </div>

  <div class="field">
    <%= form.label :email, class: "label" %>
    <%= form.text_field :email, class: "input", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= form.label :password_digest, class: "label" %>
    <%= form.text_field :password_digest, class: "input", placeholder: "Password" %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'button is-primary' %>
  </div>
  </div>
<% end %>
