<% if notice %>
  <div class="notification is-success">
    <p class="has-text-centered"><%= notice %></p>
  </div>
<% end %>

<%= render @user %>

<div>
  <div class="buttons is-centered mt-4" style="display: flex; flex-direction: row; align-items: center;">
    <%= link_to "Edit this user", edit_user_path(@user), class: "button is-primary is-medium mb-4" %>
    <%= button_to "Delete User", @user, method: :delete, class: "button is-danger is-medium mb-4", data: { confirm: "Are you sure you want to delete this user?" } %>
    <%= link_to "Back to users", users_path, class: "button is-info is-medium mb-4 ml-4" %>
  </div>
</div>
